# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment
.env

# Node
node_modules/
dist/

# SQLite databases
*.db
*.sqlite
*.sqlite3

# Uploaded databases
backend/uploaded_databases/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db